@page {
    width: 2480px;
    height: 3508px;
    margin: 0mm;
}

@media print {
    body {
        display: inline-block;
        width: 210mm;
        height: 297mm;
        margin: 0;
        transform-origin: top left;
        transform: scale(0.48);
        page-break-before: always;
        page-break-after: always;
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}

.report {
    position: relative;
    width: 2480px;
    height: 3508px;
    background-color: #fff;
}

.logo_transparent_back_2 {
    position: absolute;
    width: 351px;
    height: 351px;
    left: 90px;
}


.logohippbrand {
    position: absolute;
    top: 554px;
    right: 368px;
    left: 204px;
    bottom: 956px;
    width: 1119px;
    height: 327px;
    object-fit: contain;
}

.info_normal {
    position: absolute;
    height: 368px;
    top: 1231px;
    left: 387px;
    right: 139px;
    bottom: 813px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.6px;
    text-align: left;
    color: #000;
}

.info_bold {
    position: absolute;
    height: 368px;
    top: 1231px;
    left: 204px;
    right: 61px;
    bottom: 813px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.6px;
    text-align: left;
    color: #575757;
}

.anhgiua {
    position: absolute;
    height: 863px;
    top: 1611px;
    right: 111px;
}

.khunggiua {
    position: absolute;
    top: 2474px;
    left: 163px;
    width: 2154px;
    height: 482px;
    border-radius: 35px;
    background-color: #f6f6f6;
}

.contents_title {
    position: absolute;
    left: 131px;
    top: 77px;
    font-family: Pretendard;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.9;
    letter-spacing: -0.63px;
    text-align: left;
    color: #2a2a2a;
}

.contents_left_bold {
    position: absolute;
    left: 131px;
    top: 120px;
    font-family: Pretendard;
    font-size: 38px;
    line-height: 1.95;
    letter-spacing: -0.57px;
    text-align: left;
    color: #2a2a2a;
}

.contents_right_bold {
    position: absolute;
    right: 131px;
    top: 173px;
    font-family: Pretendard;
    font-size: 38px;
    line-height: 1.95;
    letter-spacing: -0.57px;
    text-align: left;
    color: #2a2a2a;
}

.chuatieude2 {
    width: 584px;
    height: 315px;
    font-family: Pretendard;
    font-size: 130px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -1.95px;
    text-align: left;
    color: #2f2f2f;
}

.khungtieude {
    position: absolute;
    top: 795px;
    right: 157px;
    left: 204px;
    bottom: 48px;
    width: 1119px;
    height: 327px;
    object-fit: contain;
}

.logohippbrand {
    position: absolute;
    top: 554px;
    right: 368px;
    left: 204px;
    bottom: 956px;
    object-fit: contain;
}

.chuduoicung {
    position: absolute;
    top: 3000px;
    left: 833px;
    object-fit: contain;
    font-family: Pretendard;
    font-size: 32px;
    line-height: 2.5;
    letter-spacing: -0.48px;
    text-align: center;
    color: #2a2a2a;
}