@page {
    width: 2480px;
    height: 3508px;
    margin: 0mm;
}

@media print {
    body {
        display: inline-block;
        width: 210mm;
        height: 297mm;
        margin: 0;
        transform-origin: top left;
        transform: scale(0.48);
        page-break-before: always;
        page-break-after: always;
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}

.report {
    position: relative;
    width: 2480px;
    height: 3508px;
    background-color: #fff;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ed862a;
}

.header .text {
    font-family: Pretendard;
    font-size: 105px;
    font-weight: 600;
    letter-spacing: 1.05px;
    color: #fff;
    position: relative;
    left: 300px;
    top: -25px;
}

.text-child {
    font-weight: 400;
}

.header img {
    margin-left: 300px;
    width: 35%;
}

.session1 {
    position: absolute;
    top: 650px;
    left: 300px;
    width: 70%;
}

.session1 ul {
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.36;
    text-align: left;
    color: #2a2a2a;
}


.session2 {
    position: absolute;
    top: 900px;
}

.title2 {
    display: flex;
    font-size: 46px;
    justify-content: space-between;
}

.title2 span {
    width: 601px;
    height: 69px;
    margin: 117px 10.5px 50px 314px;
    font-family: Pretendard;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: -1.16px;
    text-align: left;
    color: #2a2a2a;
}

.divider2 {
    width: 1218px;
    height: 4px;
    margin: 145px 500px 0px 0px;
    background-color: #ed862a;
}

.box1 {
    display: flex;
}

.session2-title1 {
    width: 130px;
    height: 204px;
    margin: 59px 61px 49px 316px;
    padding: 180px 47px 176px 48px;
    border-radius: 19px;
    background-color: #f5b190;
}

.session2-title1 span {
    width: 35px;
    height: 148px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-align: left;
    color: #fff;
}

.box2 {
    display: flex;
}

.box_lesson {
    position: relative;
    margin-left: 60px;
    width: 18%;
    top: 60px
}

.lesson_level {
    width: 350px;
    height: 45px;
    margin: 27px 244.5px 10px 33px;
    font-family: Pretendard;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #2a2a2a;
}

.lesson_name {
    width: 100px;
    height: 120px;
    margin: 10px 90px 119px 0;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #2a2a2a;
}

.session2-title2 {
    width: 130px;
    height: 204px;
    margin: 59px 61px 49px 316px;
    padding: 180px 47px 176px 48px;
    border-radius: 19px;
    background-color: #889cca;
}

.session2-title2 span {
    width: 35px;
    height: 148px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-align: left;
    color: #fff;
}

.session3 {
    position: absolute;
    top: 2400px;
}

.session3 ul {
    margin: 30px 420px 0 314px;
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.89;
    letter-spacing: -0.36px;
    text-align: left;
    color: #2a2a2a;
}