<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'pretendard-font.css' | css }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'expert_02.css' | css }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'expert_02_section1.css' | css }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'expert_02_section2.css' | css }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'print.css' | css }}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
</head>

<body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var x1 = parseInt("{{ section1.factor1 }}", 10);
      var x2 = parseInt("{{ section1.factor2 }}", 10);
      var x3 = parseInt("{{ section1.factor3 }}", 10);
      var x4 = parseInt("{{ section1.factor4 }}", 10);
      var x5 = parseInt("{{ section1.factor5 }}", 10);
      var x6 = parseInt("{{ section1.factor6 }}", 10);

      Highcharts.chart("container", {
        // id가 container인 부분에 놓는다
        chart: {
          polar: true,
          type: "line",
          backgroundColor: "transparent", // 차트 배경을 투명하게 설정
          plotBackgroundColor: "transparent", // 플롯 영역 배경을 투명하게 설정
          plotBorderWidth: 0, // 플롯 영역 테두리 제거
        },
        pane: {
          size: "110%",
        },
        title: false, // 제목 제거
        subtitle: false, // 부제목 제거
        xAxis: {
          categories: [
            "Sales",
            "Marketing",
            "Development",
            "Customer Support",
            "Information Technology",
            "Administration",
          ],
          tickmarkPlacement: "on",
          lineWidth: 0,
          gridLineWidth: 0,
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          gridLineInterpolation: "polygon",
          gridLineWidth: 0, // y grid 제거
          lineWidth: 0,
          min: 0,
          max: 100,

          labels: {
            enabled: false, // y label 비활성화
          },
        },
        tooltip: {
          enabled: false, // 점에 마우스 놓았을시 나오는 툴팁 비활성화
        },
        legend: false, // 범례 비활성화
        series: [
          {
            //   data: [100, 100, 100, 100, 100, 100],
            //   data: [80, 80, 80, 80, 80, 80],
            //   data: [45, 45, 45, 45, 45, 45],
            //   data: [35, 35, 35, 35, 35, 35],
            data: [x1, x2, x3, x4, x5, x6], // 실제 데이터 입력값
            pointPlacement: "on", // 위치 맞춤 (12시부터 시계방향으로 데이터 입력)
            color: "#656465", // 선색깔
            lineWidth: 3, // 선두께
            marker: {
              fillColor: "white", // 점의 내부 색상
              lineColor: "#656465", // 점의 테두리 색상
              lineWidth: 3, // 점의 테두리 너비
            },
          },
        ],
        credits: {
          enabled: false,
        },
      });
    });
  </script>

  <div class="report">
    <span class="logo_cogmotest">
      {% set image_name = "logo_cogmotest.png" %}
      <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
    </span>

    <span class="title1"> 1. 영역별 세부 지표 분석 </span>

    <div class="table1_bar2">
      {% set image_name = "rectangle_300.png" %}
      <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />

      <span class="table1_bar2_1">우수</span>
      <span class="table1_bar2_2">보통</span>
      <span class="table1_bar2_3">경계</span>
      <span class="table1_bar2_4">미흡</span>
    </div>

    <div class="table1_bar1">
      {% set image_name = "rectangle_76.png" %}
      <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />

      <span class="table1_bar1_1">수행능력</span>
      <span class="table1_bar1_2">백분위</span>
    </div>

    <div class="table1_box1">
      <span class="table1_1">주의집중력</span>
      <span class="table1_2">{{ section1.factor1 }}%</span>
      <span class="table1_3">{{ section1.factor1_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor1_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor1_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor1_circle.3 }}</span>
    </div>

    <div class="table1_box2">
      <span class="table1_1">작업기억력</span>
      <span class="table1_2">{{ section1.factor2 }}%</span>
      <span class="table1_3">{{ section1.factor2_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor2_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor2_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor2_circle.3 }}</span>
    </div>

    <div class="table1_box3">
      <span class="table1_1">집행기능</span>
      <span class="table1_2">{{ section1.factor3 }}%</span>
      <span class="table1_3">{{ section1.factor3_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor3_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor3_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor3_circle.3 }}</span>
    </div>

    <div class="table1_box4">
      <span class="table1_1">행동조절력</span>
      <span class="table1_2">{{ section1.factor4 }}%</span>
      <span class="table1_3">{{ section1.factor4_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor4_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor4_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor4_circle.3 }}</span>
    </div>

    <div class="table1_box5">
      <span class="table1_1">사회성</span>
      <span class="table1_2">{{ section1.factor5 }}%</span>
      <span class="table1_3">{{ section1.factor5_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor5_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor5_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor5_circle.3 }}</span>
    </div>

    <div class="table1_box6">
      <span class="table1_1">충동자제력</span>
      <span class="table1_2">{{ section1.factor6 }}%</span>
      <span class="table1_3">{{ section1.factor6_circle.0 }}</span>
      <span class="table1_4">{{ section1.factor6_circle.1 }}</span>
      <span class="table1_5">{{ section1.factor6_circle.2 }}</span>
      <span class="table1_6">{{ section1.factor6_circle.3 }}</span>
    </div>

    <div>
      <div class="hexagon_box1">
        <span class="hexagon_text">주의집중력</span>
        <span class="hexagon_value">{{ section1.factor1 }}%</span>
      </div>

      <div class="hexagon_box2">
        <span class="hexagon_text">작업기억력</span>
        <span class="hexagon_value">{{ section1.factor2 }}%</span>
      </div>

      <div class="hexagon_box3">
        <span class="hexagon_text">집행기능</span>
        <span class="hexagon_value">{{ section1.factor3 }}%</span>
      </div>

      <div class="hexagon_box4">
        <span class="hexagon_text">행동조절력</span>
        <span class="hexagon_value">{{ section1.factor4 }}%</span>
      </div>

      <div class="hexagon_box5">
        <span class="hexagon_text">사회성</span>
        <span class="hexagon_value">{{ section1.factor5 }}%</span>
      </div>

      <div class="hexagon_box6">
        <span class="hexagon_text">충동자제력</span>
        <span class="hexagon_value">{{ section1.factor6 }}%</span>
      </div>

      <div id="container" class="hexagon_graph"></div>

      {% set image_name = "hexagon1_1.png" %}
      <img class="hexagon1" src="{{ image_name | img }}" />

      {% set image_name = "hexagon1_2.png" %}
      <img class="hexagon2" src="{{ image_name | img }}" />

      {% set image_name = "hexagon1_3.png" %}
      <img class="hexagon3" src="{{ image_name | img }}" />

      {% set image_name = "hexagon1_4.png" %}
      <img class="hexagon4" src="{{ image_name | img }}" />
    </div>

    <span class="title2"> 2. 행동 패턴 분석 </span>

    <div class="background2">
      <div>
        <span class="table2_title table2_title1">행동 패턴 분석 팩터</span>
        <span class="table2_title table2_title2">Z-Score</span>
        <span class="table2_title table2_title3">Percentile</span>
      </div>

      <div class="table2_line1">
        <span class="table2_text table2_text1">Prompted Movement</span>
        <span class="table2_text table2_text2">{{ section2.factor1 }}</span>
        <span class="table2_text table2_text3">{{ section2.percentile.0 }}%</span>
      </div>

      <div class="table2_line2">
        <span class="table2_text table2_text1">Unprompted Movement</span>
        <span class="table2_text table2_text2">{{ section2.factor2 }}</span>
        <span class="table2_text table2_text3">{{ section2.percentile.1 }}%</span>
      </div>

      <div class="table2_line3">
        <span class="table2_text table2_text1">Comprehensive Score</span>
        <span class="table2_text table2_text2">{{ section2.factor3 }}</span>
        <span class="table2_text table2_text3">{{ section2.percentile.2 }}%</span>
      </div>

      <div class="table2_line4">
        <span class="table2_line4_text table2_line4_text1">행동 유형</span>
        <span class="table2_line4_text table2_line4_text2">절제 행동 우세형</span>
      </div>

      <div class="bar2">
        <span class="bar2_text bar2_text1">Prompted Movement</span>
        <span class="bar2_text bar2_text2">Unprompted Movement</span>
        <span class="bar2_text bar2_text3">Comprehensive Score</span>
        <span class="bar2_bar bar2_bar1"></span>
        <span class="bar2_bar bar2_bar2"></span>
        <span class="bar2_bar bar2_bar3"></span>
      </div>
    </div>

    <div class="graph2">
      {% set image_name = "graph_section2.png" %}
      <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
    </div>

    <div>
      {% if section2.type.0 == 1 %}
      <span class="desc2_title1">
        {% set image_name = "check_117.png" %}
        <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
      </span>
      <span class="desc2_title desc2_title1 desc2_color">　 과잉행동 우세형</span>
      {% else %}
      <span class="desc2_title desc2_title1">과잉행동 우세형</span>
      {% endif %}

      <span class="desc2_text desc2_text1">
        아동은 미션을 수행하면서 과제와 상관없는 불필요한 움직임을 보였습니다.
        가정에서는 지시사항을 놓치는 경우가 흔해서 반복적인 설명이 요구될 수
        있습니다.<br />
        학교, 학원에서는 부주의한 실수가 많아 학업적 성취가 저조할 수
        있습니다.
      </span>
    </div>

    <div>
      {% if section2.type.1 == 1 %}
      <span class="desc2_title2">
        {% set image_name = "check_117.png" %}
        <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
      </span>
      <span class="desc2_title desc2_title2 desc2_color">　 행동 우세형</span>
      {% else %}
      <span class="desc2_title desc2_title2">행동 우세형</span>
      {% endif %}

      <span class="desc2_text desc2_text2">
        아동은 미션을 수행할 때 필요한 움직임을 보였지만, 그만큼 불필요한
        모습도 보였습니다. 가정이나 학교에서
        <span class="desc2_text_bold">주의집중 할 수 있지만, 종종 쉽게 산만해 질 수 있습니다.<br />
          이러한 비일관적인 모습으로 인하여 과목이나 아이의 컨디션에 따라 수행
          편차를 보일 수 있습니다.</span>
      </span>
    </div>

    <div>
      {% if section2.type.2 == 1 %}
      <span class="desc2_title3">
        {% set image_name = "check_117.png" %}
        <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
      </span>
      <span class="desc2_title desc2_title3 desc2_color">　 행동 절제형</span>
      {% else %}
      <span class="desc2_title desc2_title3">행동 절제형</span>
      {% endif %}

      <span class="desc2_text desc2_text3">
        아동은 미션을 수행할 때 움직임을 거의 보이지 않았습니다. 이러한 행동
        패턴이 강점으로 발휘될 경우에는 조심스럽고 신중하여 실수가 적을 수
        있습니다. 그러나<br />
        단점으로 작용할 때는 우유부단하고 위축되어 있기 때문에 적극성은 부족할
        수 있습니다.
        <span class="desc2_text_bold">본인의 실제 능력에 비해 결과물은 미흡할 수 있습니다.</span>
      </span>
    </div>

    <div>
      {% if section2.type.3 == 1 %}
      <span class="desc2_title4">
        {% set image_name = "check_117.png" %}
        <img src="{{ image_name | img }}" srcset="{{ image_name | img_2x }} 2x, {{ image_name | img_3x }} 3x" />
      </span>
      <span class="desc2_title desc2_title4 desc2_color">　 절제 행동 우세형</span>
      {% else %}
      <span class="desc2_title desc2_title4">절제 행동 우세형</span>
      {% endif %}

      <span class="desc2_text desc2_text4">
        아동은 미션을 수행할 때 과제에 필요한 움직임만 보였습니다. 평상시에도
        목표나 계획에 따라 효율적으로 행동하여 안정적인 모습을 보이겠습니다.
      </span>
    </div>

    <span class="bottomline"></span>

    <span class="bottomleft">
      text
    </span>
    <span class="bottomright">1</span>

    <button class="btn_print" id="printreport" onclick="printReport()">Print</button>
  </div>
</body>
<script src="../static/js/print.js"></script>

</html>